body {
  margin: 0;
}

/*Heading*/
.heading {
  border: 1px solid black;
  height: 54px;
  background: #262626;
  display: flex;
  align-items: center;
  justify-content: center;
}

.heading-inside {
  width: 97%;
  height: inherit;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.buy_now {
  width: 90px;
  height: 35px;
  background: #82b440;
  border: none;
  border-radius: 5px;
}

.buy_now b {
  color: white;
}

/* Body */
.body-part {
  /* border: 1px solid red; */
  width: 540px;
  height: 705px;
  margin: 0 auto;
  overflow: hidden;
}

.box {
  width: 380px;
  height: 520px;
  /* border: 1px solid black; */
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  border-radius: 10px;
  box-shadow: 0 0 1rem 0.01rem #888888;
  background: rgba(255, 255, 255, 0.322);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  flex-direction: column;
}

.square {
  position: absolute;
  width: 160px;
  height: 160px;
  border-radius: 50%;
  z-index: -1;
}

.blue-square {
  left: -5rem;
  top: -5rem;
  background: linear-gradient(#5c6bc0, #7986cb);
}

.red-square {
  bottom: -5rem;
  right: -5rem;
  background: linear-gradient(to right, #ec5f64, #ee6e73);
}

.com{
  /* border:1px solid black; */
  width:310px;
  /* height: max-content; */
  /* position: absolute; */
  display: flex;
  justify-content:space-between;
  flex-direction: column;
  /* transform: translateY(0px); */
  transition: all .4s linear;
}

.box-inside {
  /* border: 1px solid black; */
  width: 310px;
  height: 430px;
  /* position: absolute; */
  transition: all .4s linear;
  /* transform: translateY(0px); */
}

#ins2{
  margin: 150px 0;
}

.forg-head {
  /* border: 1px solid black; */
  width: 310px;
  height: 42px;
  margin-top: 70px;
}

.forg-email {
  /* border: 1px solid black; */
  margin: 0;
  margin-top: 40px;
}

.forg-input {
  width: 310px;
  height: 45px;
  border: 1px solid #bbb;
  border-radius: 3px;
}

.box-inside-head {
  /* border: 1px solid black; */
  width: 310px;
  height: 42px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box-inside-head b {
  color: #222;
  letter-spacing: 0, 5px;
  font-family: 'Poppins', sans-serif;
  font-size: 31px;
  font-weight: 500;
  line-height: 42px;
}

.user-name {
  margin-top: 20px;
  /* border: 1px solid black; */
  width: 310px;
  height: 75.5px;
}

.password {
  /* border: 1px solid black; */
  margin-top: 20px;
  width: 310px;
  height: 75.5px;
}

.ins {
  margin: 0;
  /* border: 1px solid red; */
  width: 310px;
  height: 22.5px;
  color: #222222;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  letter-spacing: 0.5px;
  font-weight: 500;
}

.input {
  margin-top: 8px;
  width: 98%;
  height: 37px;
  border-radius: 3px;
  border: 1px solid #bbb;
  background: rgba(255, 255, 255, 0.07);
  padding-left: 10px;
}

.check {
  /* border: 1px solid black; */
  width: 310px;
  height: 46.25px;
}

.remember {
  /* border: 1px solid; */
  width: 100%;
  margin-top: 10px;
  display: flex;
}

.Remember-Me {
  font-family: 'Poppins', sans-serif;
  letter-spacing: 0.5px;
  color: #555;
  font-size: 14px;
}

.remember a {
  font-family: 'Poppins', sans-serif;
  color: #e65100;
  text-decoration: underline;
  font-size: 14px;
  font-weight: 700;
  margin-left: 3.8rem;
  cursor: pointer;
}

.login-button {
  width: 310px;
  height: 42.23px;
  /* margin-top: 25px; */
  background: #67c1b8;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  transition: all .3s linear;
}

.login-button:hover {
  background: #26a69a;
}

.login-button b {
  color: #fff;
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
}

.social {
  /* border: 1px solid black; */
  width: 310px;
  height: 35px;
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.social button {
  width: 140px;
  cursor: pointer;
  border: none;
  border-radius: 3px;
}

.social button b {
  color: #fff;
  font-family: 'Poppins', sans-serif;
  font-size: 17px;
}

.sign-up a {
  font-family: 'Poppins', sans-serif;
  color: #e65100;
  text-decoration: underline;
  font-size: 14px;
  font-weight: 700;
  cursor: pointer;
}

/* Forgetten Password Start*/
.forg-head {
  /* border: 1px solid black; */
  width: 310px;
  height: 42px;
  margin-top: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.forg-head b {
  font-size: 32px;
  font-weight: 500;
  line-height: 42px;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  color: #222;
  letter-spacing: 0.5px;
}

.forg-user {
  /* border: 1px solid black; */
  width: 310px;
  height: 21px;
  margin-top: 40px;
  margin-bottom: 0;
  font-size: 14px;
  font-family: 'Poppins', sans-serif;
  color: #222;
  letter-spacing: 0.5px;
}

.forg-input {
  width: 310px;
  height: 45px;
  padding-left: 10px;
}

.forg-button {
  width: 310px;
  height: 42.23px;
  margin-top: 25px;
  margin-bottom: 10px;
}

.forg-a {
  color: #e65100;
  text-decoration: underline;
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  font-weight: 700;
  cursor: pointer;
}


.login-button {
  width: 310px;
  height: 42.23px;
  /* margin-top: 25px; */
  background: #67c1b8;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  transition: all .3s linear;
}

.login-button:hover {
  background: #26a69a;
}

.login-button b {
  color: #fff;
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
}

/* Forgetten Password End */

/* Sign Up Start */
.stp-head {
  width: 310px;
  height: 42px;
  /* border: 1px solid black; */
}

.stp-head p {
  font-size: 28px;
  font-weight: 500;
  line-height: 42px;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  color: #222;
  letter-spacing: 0.5px;
  margin: 0;
}

.stp-p {
  /* border: 1px solid black; */
  margin-top: 10px;
  height: 21.25px;
  font-family: 'Poppins', sans-serif;
  color: #222;
  letter-spacing: 0.5px;
  font-size: 14px;
  margin-bottom: 5px;
}

.stp-input {
  width: 310px;
  height: 36px;
  border: 1px solid #bbb;
  border-radius: 3px;
  padding-left: 7px;
}

/* Sign Up End */

input:focus-visible {
  outline: none;
  border: 0.1rem solid blue;
  border-radius: 0.3rem;
}